.dropdownLayout {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;

  .dropdownBtnContainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 18px 22px;
    &:hover {
      background-color: #d0cfcf;
    }

    .dropdownBtnContent {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      gap: 8px;

      .btnText {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1.9199999570846558px;
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .ratingPopoverContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 353px;
    top: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;

    .ratingsContentContainer {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: calc(100% - 102px);
      padding-top: 12px;

      .titleContainer {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;

        .titleText {
          font-size: 18px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 1.9199999570846558px;
          text-align: center;
        }
      }
      .ratingsContainer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        width: 100%;
      }

      .clearAllCheckboxBtnContainer {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 16px;
        width: 112px;

        .clearCheckboxBtn {
          display: flex;
          flex-flow: row;
          justify-content: center;
          align-items: center;
          padding: 5px 15px;
          width: 100%;
          border: 1px solid #000;
          font-family: Helvetica Neue;
          font-size: 10px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 2.6700000762939453px;
          text-align: center;
          cursor: pointer;

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}
