@import "../../styles/mediaQueries.scss";

.chefOfTheWeekSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .chefOfTheWeekTitleContainer {
    width: 187px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1.25px;
    width: calc(100% - 40px);
  }

  .chefOfTheWeekDescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    gap: 24px;

    .chefOfTheWeekImageContainer {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      align-items: center;
      background-position: center;
      background-size: cover;
      width: 335px;
      height: 262px;

      .overlayTextContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 51px;
        background-color: rgba(255, 255, 255, 0.8);

        .chefOfTheWeekName {
          display: flex;
          align-self: flex-end;
          font-size: 18px;
          font-weight: 400;
          line-height: 47px;
          letter-spacing: 2.6700000762939453px;
          text-align: center;
        }
      }
    }

    .chefOfTheWeekAboutParagraph {
      width: 335px;
      height: 252px;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 1.25px;
      text-align: justify;
    }
  }

  .chefOfTheWeekRestaurantContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
    padding-left: 20px;

    .chefOfTheWeekRestaurantsTitle {
      width: 190px;
      height: 25px;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 1.25px;
      text-align: left;
    }
    .carouselContainer {
      width: 100%;
      height: 100%;
      .swiper {
        .swiper-slide {
          width: fit-content;
        }
      }
    }
  }
}
