@import "../../styles/mediaQueries.scss";
@import "../../styles/constants.module.scss";

.cartLayout {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 24px;

  .cartContent {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: $mobile-view-width;

    .cartContentContainer {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;

      .emptyCart {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        padding-top: 61px;
        padding-bottom: 45px;

        .emptyCartText {
          width: 145px;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 1.9700000286102295px;
          text-align: center;
        }
      }

      .nonEmptyCart {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 20px;

        .orderContainer {
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          align-items: center;
          padding-bottom: 63px;

          .cartTitle {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 4px;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 2.6700000762939453px;
            text-align: center;
          }

          .restaurantName {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 20px;
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 1.9700000286102295px;
            text-align: center;
          }

          .orderDishes {
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 20px;
            height: 299px;
            overflow-y: auto;
            direction: rtl;
          }
        }
      }

      .sumPaymentContainer {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        font-family: Helvetica Neue;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 2.6700000762939453px;
        text-align: center;
        gap: 10px;

        .sumPaymentText {
          display: flex;
          flex-flow: row;
          justify-content: center;
          align-items: center;
          gap: 2px;

          .currencyIconContainer {
            align-self: flex-end;
            padding-bottom: 2px;

            img {
              width: 8.87px;
              height: 8.53px;
            }
          }
        }
      }
    }
  }
}
