@import "../../styles/mediaQueries.scss";

.restaurant-carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 18px;
  padding: 48px 0 48px 20px;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .restaurant-carousel-title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.25px;

    @include tablet {
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 1.25px;
      text-align: center;
    }
  }
  .carousel-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    overflow-x: hidden;
    gap: 18px;
    width: 100%;
    .slick-slider {
      overflow-x: hidden;
    }

    .restaurant-cards-big-screen-container {
    }

    .all-restaurants-goto-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      @include tablet {
        justify-content: flex-end;
        width: 100%;
      }

      .all-restaurants-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 2px;
        text-align: right;

        @include tablet {
          font-size: 24px;
        }

        img {
          width: 24px;
          height: 24px;

          @include tablet {
            height: 18px;
          }
        }
      }
    }
  }
}
