@import "../../styles/constants.module.scss";
@import "../../styles/mediaQueries.scss";

.MenuPopoverLayout {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(242, 242, 242, 1);
  background-color: white;

  .popoverHeaderContainer {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: $mobile-view-width;
    height: 46px;
  }

  .buttonsContainer {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    width: $mobile-view-width;
    padding: 40px 0;

    .menuBtn {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 1.9199999570846558px;
    }
  }
}
