@import "../../styles/mediaQueries.scss";

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 245px;
  height: 100%;

  @include smallDesktopScreen {
    width: 379px;
  }

  .card-image-container {
    width: 245px;
    height: 151.8px;
    @include smallDesktopScreen {
      width: 379px;
      height: 236px;
    }
    img {
      width: 245px;
      height: 151.8px;
      @include smallDesktopScreen {
        width: 379px;
        height: 236px;
      }
    }
  }
  .card-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 245px;
    gap: 8px;
    padding: 16px;
    background-color: rgba(249, 244, 234, 1);

    @include smallDesktopScreen {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 379px;
      padding: 24px 0;
    }

    .restaurant-name {
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 2.6700000762939453px;

      @include smallDesktopScreen {
        font-size: 40px;
        line-height: 47px;
      }
    }
    .restaurant-chef-name {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1.9700000286102295px;

      @include smallDesktopScreen {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
}
