@import "../../styles/mediaQueries.scss";
.linkContainer {
  .gotoAllRestaurantsBtn {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    @include smallDesktopScreen {
      align-self: flex-end;
    }

    .gotoAllRestaurantsText {
      font-size: 16px;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 2px;
      text-align: right;
      @include smallDesktopScreen {
        font-size: 24px;
      }
    }

    img {
      width: 24px;
      height: 18px;
    }
  }
}
