@import "../../styles/mediaQueries.scss";
@import "../../styles/fonts.scss";

//css reset
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("/src/assets/images/hero-picture-mobile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 273px;

  @include desktop {
    background: url("/src/assets/images/hero-picture-desktop.png");
    width: 100%;
    height: 696px;
    background-size: 100% 100%;
  }

  .hero-search-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 335px;
    height: 144px;
    background: rgba(255, 255, 255, 0.88);

    @include desktop {
      width: 776px;
      height: 221px;
    }
    .hero-text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      width: 315px;
      height: 64px;
      border: none;
      outline: none;
      @include hero-mobile-text-box-font;

      @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 402px;
        height: 80px;
        @include hero-desktop-text-box-font;
      }
    }

    .hero-search {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      width: 315px;
      height: 30px;
      border: 0.5px solid rgba(0, 0, 0, 1);
      border-radius: 4px;
      padding: 0 12px;
      @include desktop {
        width: 505px;
        height: 48px;
        gap: 16px;
      }

      .search-button {
        display: flex;
        align-self: center;
        outline: none;
        border: none;
        background: none;
        @include desktop {
          img {
            width: 32px;
            height: 32px;
          }
        }
      }
      .search-input {
        display: flex;
        align-self: center;
        width: 253px;
        height: 15px;
        outline: none;
        border: none;
        background: none;
        @include hero-mobile-search-placeholder-font;
        @include desktop {
          &::placeholder {
            color: rgba(0, 0, 0, 1);
          }
          width: 423px;
          height: 29px;
          @include hero-desktop-search-placeholder-font;
        }
      }
    }
  }
}
