.appButton {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 206px;
  height: 48px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.6700000762939453px;
  text-align: center;
}
