.RestaurantDisplayPageLayout {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .heroContainer {
    width: 100%;
    height: 272px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}
