// sizes
$mobile-max-width: 480px;
$tablet-max-width: 820px;
$small-desktop-max-width: 1024px;

// layout-widths
$app-primary-width: 100vw;
$mobile-view-width: calc(100% - 40px);
$desktop-view-width: calc(100% - 255px);
$app-max-width: 1186px;

// fonts
$app-primary-font-family: Helvetica Neue;
$app-primary-font-weight: 200;
$app-primary-text-align: left;

:export {
  tabletMaxWidth: $tablet-max-width;
  mobileMaxWidth: $mobile-max-width;
  smallDesktopMaxWidth: $small-desktop-max-width;
  appMaxWidth: $app-max-width;

  appPrimaryFontFamily: $app-primary-font-family;
  appPrimaryFontWeight: $app-primary-font-weight;
  appPrimaryTextAlign: $app-primary-text-align;

  appPrimaryWidth: $app-primary-width;
  mobileViewWidth: $mobile-view-width;
  desktopViewWidth: $desktop-view-width;
}
