$tablet-max-width: 820px;
$mobile-max-width: 480px;
$medium-desktop-max-width: 1024px;
$app-primary-font-family: Helvetica Neue;
$app-primary-font-weight: 200;
$app-primary-text-align: left;

:export {
  tabletMaxWidth: $tablet-max-width;
  mobileMaxWidth: $mobile-max-width;
  mediumDesktopMaxWidth: $medium-desktop-max-width;
  appPrimaryFontFamily: $app-primary-font-family;
  appPrimaryFontWeight: $app-primary-font-weight;
  appPrimaryTextAlign: $app-primary-text-align;
}
