@mixin epicure-navbar-font {
  font-family: Helvetica Neue;
  font-size: 27px;
  font-weight: 200;
  line-height: 33px;
  letter-spacing: 1.350000023841858px;
  text-align: left;
}

@mixin link-buttons-navbar-font {
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 1.9199999570846558px;
  text-align: left;
}

@mixin hero-mobile-text-box-font {
  font-family: Helvetica Neue;
  font-size: 23.8px;
  font-weight: 200;
  line-height: 32px;
  letter-spacing: 1.9700000286102295px;
  text-align: left;
}

@mixin hero-desktop-text-box-font {
  font-family: Helvetica Neue;
  font-size: 31.8px;
  font-weight: 200;
  line-height: 40px;
  letter-spacing: 1.9700000286102295px;
  text-align: left;
}

@mixin hero-mobile-search-placeholder-font {
  font-family: Helvetica Neue;
  font-size: 12px;
  font-weight: 200;
  line-height: 15px;
  letter-spacing: 1.2899999618530273px;
  text-align: left;
}
@mixin hero-desktop-search-placeholder-font {
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 200;
  line-height: 29px;
  letter-spacing: 1.2899999618530273px;
  text-align: left;
}

@mixin footer-font {
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 1.9199999570846558px;
  text-align: left;
}
