.card {
  $restaurant-card-width: 245px;
  $restaurant-card-height: 151.8px;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  flex-direction: column;
  width: $restaurant-card-width;
  height: 232.8px;
  .card-img {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: row;
    $image-width: $restaurant-card-width;
    $image-height: $restaurant-card-height;
    width: $image-width;
    height: $image-height;
    img {
      width: $image-width;
      height: $image-height;
    }
  }

  .restaurant-card-container {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
    width: $restaurant-card-width;
    height: 81px;
    gap: 8px;
    padding: 16px;
    background: rgba(249, 244, 234, 1);

    .card-title {
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 2.6700000762939453px;
    }

    .restaurant-card-content {
      font-size: 16px;
      font-weight: 200;
      line-height: 20px;
      letter-spacing: 1.9700000286102295px;
    }
  }
}
