@import "../../styles/mediaQueries.scss";
@mixin navbar-desktop-option-font {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 1.92px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.header-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  padding: 0 20px;

  .navbar-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .navbar-container {
      $halfOfLogoPixels: 12px;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      width: calc(50% + $halfOfLogoPixels);

      .logo-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
      }
      .menu-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
      }

      .epicure-text-title {
        display: none;
      }
      .chefs-navbar-button {
        display: none;
      }
      .restaurants-navbar-button {
        display: none;
      }
    }
  }

  .icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100px;
    height: 20px;

    .search-button {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
    }
    .signIn-button {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
    }
    .bag-button {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
    }
  }
}
