@import "../../styles/mediaQueries.scss";

.header-container {
  $padding-horizontal: 14px;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: 46px;
  padding: 0 20px;

  @include tablet {
    height: 64px;
    padding: $padding-horizontal 18px;
  }

  @include smallDesktopScreen {
    padding: $padding-horizontal 127px;
  }

  .header-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .navbar-container {
      $halfOfLogoPixels: 16.5px;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      width: calc(50% + $halfOfLogoPixels);

      @include smallDesktopScreen {
        $logo-button-links-gap: 15.07px;
        justify-content: flex-start;
        gap: $logo-button-links-gap;
      }

      .logo-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }

      .navbar-buttons-container {
        display: none;

        @include smallDesktopScreen {
          $button-links-gap: 32px;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
          gap: $button-links-gap;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 1.9199999570846558px;

          .epicure-text-title {
            font-size: 27px;
            line-height: 33px;
            letter-spacing: 1.350000023841858px;
          }
        }
      }

      .menu-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        @include smallDesktopScreen {
          display: none;
        }
      }
    }
  }

  .icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 20px;
    flex-shrink: 0;
    @include smallDesktopScreen {
      gap: 24px;
    }
  }
}
