@import "../../styles/mediaQueries.scss";
@import "../../styles/constants.module.scss";

.headerSectionLayout {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  @include smallDesktopScreen {
    height: 64px;
  }

  .HeaderContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: $mobile-view-width;
    @include smallDesktopScreen {
      width: $desktop-view-width;
    }

    .navbarContainer {
      $halfOfLogoPixels: 16.5px;

      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      width: calc(50% + $halfOfLogoPixels);
      @include smallDesktopScreen {
        justify-content: flex-start;
        gap: 15.07px;
      }

      .logoContainer {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }

      .navbarButtonsContainer {
        display: none;
        @include smallDesktopScreen {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
          gap: 32px;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 1.9199999570846558px;

          .epicureTextTitle {
            font-size: 27px;
            line-height: 33px;
            letter-spacing: 1.350000023841858px;
          }

          .active {
            border-bottom: 1.8px solid rgba(222, 146, 0, 0.9);
            padding-bottom: 8px;
            padding-top: 8px;
          }
        }
      }

      .menuContainer {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        @include smallDesktopScreen {
          display: none;
        }
      }
    }
    .headerIconsContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      height: 20px;
      flex-shrink: 0;
      @include smallDesktopScreen {
        gap: 24px;
      }
    }
  }
}
