@import "../../styles/mediaQueries.scss";
@import "../../styles/constants.module.scss";

button {
  border: none;
  background: none;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 202px;
  padding: 32px 232px 24px 19px;
  box-sizing: border-box;

  @include smallDesktopScreen {
    height: 86px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 31px 397px;
  }
  .buttons-container {
    display: flex;
    flex-direction: column;
    width: 126px;
    height: 146px;
    gap: 40px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.9199999570846558px;

    @include smallDesktopScreen {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 419px;
      height: 22px;
    }
    .contact-us-button {
      width: 103px;
    }
    .term-of-use-button {
      width: 110px;
    }
    .privacy-policy-button {
      width: 126px;
    }
  }
}
