@import "../../styles/fonts.scss";
@import "../../styles/mediaQueries.scss";
@import "../../styles/constants.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 202px;
  padding: 32px 232px 24px 19px;
  box-sizing: border-box;

  @include desktop {
    height: 86px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 31px 397px;
  }
  .buttons-container {
    display: flex;
    flex-direction: column;
    width: 126px;
    height: 146px;
    gap: 40px;
    @include footer-font;

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 419px;
      height: 22px;
    }
    .contact-us-button {
      @include clean-button-style;
      width: 103px;
    }
    .term-of-use-button {
      @include clean-button-style;
      width: 110px;
    }
    .privacy-policy-button {
      @include clean-button-style;
      width: 126px;
    }
  }
}
